body {
	margin: 0;
	font-family: 'Helvetica', 'Ariel', Sans-serif;
	font-size: 20px;
}

header {
	background-color: green;
	text-align: center;
	padding-top: 50px;
}

h1, h2 {
	font-family: 'Baloo Bhaina 2', cursive;
}

/* header style */
/* Write your comment here */

header h1 {
	color: white;
	font-size: 50px;
}

header img {
	border-radius: 200px;
	width: 300px;
	border: 10px solid white;
}

main {
	background-color: lemonchiffon;
	 max-width: 800px;
	 margin: 0 auto;
	 padding: 20px;
}

main img {
	max-width: 100%;
}

h2 {
	font-size: 35px;
	color: green;
	margin: 40px 0 10px;
}

a {
	color: green;
}
a:hover{
	color: white;
	background-color: #483a94
}

footer {
	background-color: green;
	text-align: center;
	color: white;
	padding: 50px;
}

footer p {
	margin: 0;
}

footer a{
	color: white;
}

footer a:hover{
	opacity: .5;
	background-color: transparent;
}

p.caption {
	color: #999999;
	font-style: italic;
	margin-top: 0;
}